<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }} class="light wide">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="article">
    {{ partial "header.html" . }}
    <div class="body">
      {{ partial "nav.html" . }}
      <main class="article">
        {{ partial "toolbar.html" . }}
        <div class="hero">
          <div class="hero-header"></div>

          <div class="hero-tagline">
            <p>verify artifacts, enforce policies</p>
          </div>

          <div class="hero-intro">
            <p>Securely verify supply chain artifacts, and enforce policies about how they were built and tested, in a manageable, scalable, and declarative way.</p>

            <p class="announcement">Note: Conforma was previously known as "Enterprise Contract", often abbreviated as "EC". Please bear with us as we update the documentation and other resources to use the new name.</p>
          </div>

          <div class="hero-links">{{ .Content }}</div>

          <div class="hero-highlights">
            {{ partial "hero-feature.html" (dict
                "icon" "wrench-screwdriver"
                "title" "Built with Sigstore and Open Policy Agent"
                "content" "Conforma builds on the industry standard open source solutions for artifact provenance verification and policy validation, backed by the Open Source Security Foundation and the Cloud Native Computing Foundation."
            ) }}

            {{ partial "hero-feature.html" (dict
                "icon" "shield-check"
                "title" "Verify provenance & apply policies in a single step"
                "content" "Produce human readable output for provenance or policy violations. Verify SLSA compliance with extensible policies. Verify single or multiple images with collated output. Access configuration, data and policy rules from multiple sources."
            ) }}

            {{ partial "hero-feature.html" (dict
                "icon" "square-3-stack-3d"
                "title" "Fits into your existing CI/CD pipelines"
                "content" "Conforma is platform agnostic. With its multi-format output, it can easily fit into your CI/CD workflow. Use it as post-build CI, as a gate for releases, as a deploy-time verifier, or anywhere in between."
            ) }}

            {{ partial "hero-feature.html" (dict
                "icon" "check-badge"
                "title" "Red Hat Trusted Application Pipeline Integration"
                "content" "Adopted by Red Hat for their own next generation cloud build systems. Integrated with RHTAP & Konflux CI."
            ) }}

          </div>
        </div>
        <div class="divider">
          {{ partial "svg-wave-divider.html"}}
        </div>
        <div class="blog-excerpts">
          <h2>Recently Published</h2>
          <article class="doc">
            {{ $posts := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
            {{ range $posts.Limit 2 }}
              {{ partial "post-preview.html" . }}
            {{ end }}

            {{/* This div is not really for pagination but the CSS does what we want and also I'm lazy */}}
            <div class="pagination-centered">
              <div class="pagination pagination-default" style="padding: 3em 0; opacity: 70%;">
                {{/* Note the hard coded url here should match what's in website/config/_default/menu.toml) */}}
                <a href="/posts">More articles &hellip;</a>
              </div>
            </div>

          </article>
        </div>
        <div class="divider">
          {{ partial "svg-wave-divider.html"}}
        </div>
      </main>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
