<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }} class="light wide">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="article">
    {{ partial "header.html" . }}
    <div class="body">
      {{ partial "nav.html" . }}
      <main class="article">
        {{ partial "toolbar.html" . }}
        <div class="hero">
            <div class="hero-header"></div>
            <div class="hero-intro">
                <p>The Enterprise Contract is a set of tools for maintaining software supply chain security, and for the definition and enforcement of policies related to how container images are built and tested.</p>
            </div>
            <div class="hero-highlights">
                {{ partial "hero-feature.html" (dict "icon" "wrench-screwdriver" "title" "Built with Sigstore and Open Policy Agent" "content" "Enterprise Contract builds on the industry standard open source solutions for artifact provenance verification and policy validation, backed by the Open Source Security Foundation and the Cloud Native Computing Foundation.") }}
                
                {{ partial "hero-feature.html" (dict "icon" "shield-check" "title" "Verify provenance & apply policies in a single step" "content" "Produce human readable output for provenance or policy violations. Verify SLSA compliance with extensible policies. Verify single or multiple images with collated output. Access configuration, data and policy rules from multiple sources.") }}

                {{ partial "hero-feature.html" (dict "icon" "square-3-stack-3d"
                "title" "Fits into your existing CI/CD pipelines"
                "content" "Enterprise Contract is platform agnostic. With its multi-format output, it can easily fit into your CI/CD workflow. Use it as post-build CI, as a gate for releases, as a deploy-time verifier, or anywhere in between.") }}


                {{ partial "hero-feature.html" (dict "icon" "check-badge"
                "title" "Red Hat Trusted Application Pipeline Integration"
                "content" "Adopted by Red Hat for their own next generation cloud build system and integrated in new RHTAP CI/CD pipelines.") }}
            </div>
            <div class="hero-links">{{ .Content }}</div>
        </div>
        <div class="divider">
            {{ partial "svg-wave-divider.html"}}
        </div>
        <div class="blog-excerpts">
            <h2>Recently Published</h2>
            <article class="doc">
                {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
                {{ range ($paginator.Pages) }}
                  {{ partial "post-preview.html" . }}
                {{ end }}
                
            </article>
            <div class="pagination-centered">
                {{ template "_internal/pagination.html" . }}
            </div> 
        </div>
        <div class="divider">
            {{ partial "svg-wave-divider.html"}}
        </div>
        <div class="contribute" id="contribute">
            <h2>Collaboration is Welcomed!</h2>
            <img class="icon" src="/images/collaboration.svg"/>
            <p>We want to invite everyone to help to guide the future of Enterprise Contract</p>
            <p>Find our <a href="https://github.com/enterprise-contract/" title="View the Enterprise Contract organization on Git Hub">code on Git Hub</a></p>
            <img src="https://contrib.rocks/image?repo=enterprise-contract/ec-cli&columns=7&max=100">
            <p>Join us for our weekly community meeting, held every Wednesday at <a href="https://www.timeanddate.com/worldclock/converter.html?iso=20210518T140000&p1=1440&p2=4826&p3=234&p4=195" title="Find the meeting time in your local timezone">10am Eastern</a>.</p>
            <p>The meeting <a href="https://github.com/enterprise-contract/ec-cli/issues?q=is%3Aopen+is%3Aissue+label%3Acommunity-meeting+" title="View upcoming meeting agenda">agenda and joining details are available as a Github issue</a> shortly before the meeting. </p>
        </div>
      </main>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
