:root {
  /* Icon purple */
  --ec-icon-purple: #785fa9;

  /* A little darker than icon purple for better contrast */
  --ec-navbar-purple: #634f8b;

  /* Lighter footer */
  --footer-background: #f5f5f5;

  /* Override the overrides.. */
  --highlightjs-bg: #011627;
}

@media screen and (min-width: 1024px) {
  /* For hover menus that are not links themselves
     * this looks better than the text cursor */
  .navbar-end span.navbar-link {
    cursor: default;
  }
}

.hljs {
  background-color: var(--highlightjs-bg) !important;
  border-radius: 0.25em !important;
  font-size: 90% !important;
  line-height: 1.8em !important;
  padding: 1em !important;
}
