
/* ***************************************************
 * This CSS is shared exactly between the hugo and antora builds,
 * via website/assets/css/custom.css and antora/supplemental-ui/css/ec-custom.css
 * Todo: DRY this up so we aren't maintaining it twice */

:root {
    /* Blue/purple-ish instead of the default nearly-black */
    --navbar-background: #200382;

    /* A lighter blurple */
    --navbar_hover-background: #3d16cb;
}

@media screen and (min-width: 1024px) {
    /* For hover menus that are not links themselves
     * this looks better than the text cursor */
    .navbar-end span.navbar-link {
      cursor: default;
    }
}

/* ************************************************* */

/* Hugo specific CSS */

:root {
    /* Taller nav bar for the home page */
    --navbar-height: 8rem;
}

.navbar-brand .navbar-item {
    /* With the taller nav bar the title looks better near
     * the bottom instead of in the middle */
    margin-top: 4.5rem;
}

.navbar-brand .navbar-burger {
    /* Move the burger menu down also */
    margin-top: 5rem;
}

.navbar-brand .navbar-item:first-child {
    /* A little bigger */
    font-size: 2rem;
}

/* Simulate the "is-right" class from the antora default ui
 * on the right-most dropdown menu */
.navbar-item:last-child .navbar-dropdown {
  left: auto;
  right: 0;
}

@media screen and (min-width: 1024px) {
    /* Also move nav items lower instead of in the middle */
    .navbar-end > a.navbar-item:not(.has-dropdown) {
        align-items: flex-end;
        padding-bottom: 0.7rem;
        margin-top: 5rem;
    }

    .navbar-end .has-dropdown .navbar-link {
        align-items: flex-end;
        padding-bottom: 0.7rem;
        margin-top: 5rem;
    }
}

/* Antora style left menu that we don't need on the home page
 * Todo: Customize the layout to remove it properly */
.body > .nav-container {
    display: none !important;
}

/* Antora style breadcrumb nav that we don't need on the home page
 * Todo: Customize the layout to remove it properly */
main .toolbar {
    display: none !important;
}

main .content {
    /* With the breadcrumb nav gone some extra spacing is needed */
    margin-top: 2rem;
}

article.doc p {
  /* More space between paragraphs in Markdown output */
  padding-top: 1.5em;
}

footer.footer {
  /* Cosmetic tweak so the footer color continues to the bottom for short pages */
  padding-bottom: 15em;
}
