:root {
    /* Icon purple */
    --ec-icon-purple: #785fa9;

    /* A little darker than icon purple for better contrast */
    --ec-navbar-purple: #634f8b;

    --navbar-background: var(--ec-navbar-purple);
    --navbar_hover-background: var(--ec-icon-purple);

    /* Lighter footer */
    --footer-background: #f5f5f5;

    /* Override the overrides.. */
    --highlightjs-bg: #011627;

    --body-font-family: Roboto, sans-serif;

    --doc-max-width--landing: calc(1024 / var(--rem-base) * 1rem);
}

:root.light {
  --navbar-font-color: var(--ec-navbar-purple);
  --navbar_hover-background: var(--ec-icon-purple);

  /* Slightly transparent navbar */
  --navbar-background: rgba(255, 255, 255, 90%);
  --navbar-menu-background: rgba(255, 255, 255, 90%);
}

@media screen and (min-width: 1024px) {
    /* For hover menus that are not links themselves
     * this looks better than the text cursor */
    .navbar-end span.navbar-link {
      cursor: default;
    }

    .navbar-end > a.navbar-item:hover, .navbar-item.has-dropdown:hover .navbar-link {
        color: white;
    }
}

/* When burger menu is open we don't want the transparency */
@media screen and (max-width: 1023px) {
  .navbar-menu.is-active {
    background-color: white;
  }
}

/* Smaller logo title for phone size screens */
.logo-title {
    height: 7em;
    margin-bottom: 1.2em;
}
@media screen and (max-width: 576px) {
    .logo-title {
        height: 5em;
    }
}

.light .navbar {
  box-shadow: 0px 1px 5px var(--color-smoke-90);
  z-index: 1001;
}

.navbar-brand .navbar-item:first-child :not(:last-child) {
  padding-right: .375rem;
}

#navbar-logo {
  height: 1.75rem;
  margin-right: 0.5rem;
  margin-top: -0.15em;
}

/* Simulate the "is-right" class from the antora default ui
 * on the right-most dropdown menu */
.navbar-item:last-child .navbar-dropdown {
  left: auto;
  right: 0;
}

/* Code syntax higlighting */

code, kbd, pre {
  font-family: Roboto Mono,monospace;
}

.hljs {
  background-color: var(--highlightjs-bg) !important;
  border-radius: 0.25em !important;
  font-size: 90% !important;
  line-height: 1.8em !important;
  padding: 1em !important;
}

.doc pre.highlightjs {
  font-size: .9rem;
  padding-top: 0.75em;
}

.doc pre.highlightjs code {
  line-height: 1.8em;
  box-shadow: 1px 1px 4px 0px gray;
}

/* For inline monospace text */
.doc p > code {
  /* Add a contrast bg */
  background-color: var(--color-smoke-70);
  padding-left: 0.25em;
  padding-right: 0.25em;
  font-size: 90%;
}

.wide .body {
    margin-left: auto;
    margin-right: auto;
}

.wide .nav-container {
  display: none;
}

/* expand in the vertical space between header and footer, move footer below the
 * fold
 */
body.article {
    height: 100%;
}

.wide main .content {
    /* With the breadcrumb nav gone some extra spacing is needed */
    margin-top: 2rem;
}

.wide .doc p {
  /* More space between paragraphs in Markdown output */
  padding-top: 1em;
}

.wide .paragraph p {
  /* ...but not inside a div.paragraph... */
  padding-top: 0;
}

.wide article.doc article {
  margin: 2rem 0 5rem 0;
}

footer.footer {
  /* Cosmetic tweak so the footer color continues to the bottom for short pages */
  padding-bottom: 15em;
}

h3.button {
    display: inline-block;
    background-color: var(--ec-navbar-purple);
    box-shadow: 1px 1px 4px 0px gray;
    border-radius: 4px;
    border: 0;
    padding: 0.5rem 1rem 0.3rem;
    cursor: pointer;
    margin-top: 3rem;
}

.button:not(:first-child) {
  margin-left: 0.5rem;
}

.button a {
    display: inline-flex;
    text-decoration: none;
    color: white;
}

.button a:hover {
    color: white;
}

.button svg {
  margin-right: 0.5rem;
}

.button svg path {
  stroke: white;
}

a.all-downloads {
  display: block;
  position: absolute;
  color: var(--color-gray-30);
  padding-left: 1rem;
}

p.big {
    font-size: 115%;
}

/* Search box tweaks */

#search-input {
  border-radius: 0.2em;
}

@media screen and (min-width: 1024px) {
  #search-input {
      font-size: 85%;
      width: 11em;
      margin-right: 0.3rem;
      border: 1px solid #dbdbdb;
      line-height: 1.5;
  }

  /* Widen the field when user is searching */
  #search-input:focus {
      width: 16em;
      background-color: white;
      transition: width 0.15s;
  }
}

/* For EC policy rule docs */

.rule-type-indicator {
  border-radius: 0.25rem;
  color: white;
  background-color: #555;
  padding: 0 0.25em;
}

.rule-type-indicator.warning {
  background-color: #a0439c; /* var(--caution-color); */
}

.rule-type-indicator.failure {
  background-color: #d32f2f; /* var(--important-color); */
}

/* Image zoom */

.imageblock {
  cursor: zoom-in;
}

.zoom .imageblock {
  display: none;
  position: fixed;
  margin-top: 0;
  z-index: 1000;
  background: rgba(0,0,0,0.75);
  outline: none;
}

.zoom.shown .imageblock {
  cursor: zoom-out;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

.zoom.shown .imageblock img {
   max-height: 92vh;
}

.zoom.shown .imageblock .title {
  color: white;
}

/* It's a sidebar but it appears inline. */
.doc .sidebarblock {
  /* A little lighter. Default is e9e9e9. */
  /* Same as var(--color-smoke-70) */
  background-color: #f0f0f0;
  /* A smidge more vertical padding */
  padding: 1.2rem 1.5rem;
  /* A smidge less round */
  border-radius: 0.5rem;
}
.doc .sidebarblock>.content>.title {
  /* The default is center here. I think left looks better. */
  text-align: left;
}

/* Fonts */
@font-face {
  font-family:Roboto;
  font-style:normal;
  font-weight:400;
  font-display: swap;
  src:url(../font/roboto-latin-400-normal.woff2) format("woff2"),
  url(../font/roboto-latin-400-normal.woff) format("woff");
  unicode-range:U+00??,
  U+0131,
  U+0152-0153,
  U+02bb-02bc,
  U+02c6,
  U+02da,
  U+02dc,
  U+2000-206f,
  U+2074,
  U+20ac,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+feff,
  U+fffd
 }
 @font-face {
  font-family:Roboto;
  font-style:italic;
  font-weight:400;
  font-display: swap;
  src:url(../font/roboto-latin-400-italic.woff2) format("woff2"),
  url(../font/roboto-latin-400-italic.woff) format("woff");
  unicode-range:U+00??,
  U+0131,
  U+0152-0153,
  U+02bb-02bc,
  U+02c6,
  U+02da,
  U+02dc,
  U+2000-206f,
  U+2074,
  U+20ac,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+feff,
  U+fffd
 }
 @font-face {
  font-family:Roboto;
  font-style:normal;
  font-weight:500;
  font-display: swap;
  src:url(../font/roboto-latin-500-normal.woff2) format("woff2"),
  url(../font/roboto-latin-500-normal.woff) format("woff");
  unicode-range:U+00??,
  U+0131,
  U+0152-0153,
  U+02bb-02bc,
  U+02c6,
  U+02da,
  U+02dc,
  U+2000-206f,
  U+2074,
  U+20ac,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+feff,
  U+fffd
 }
 @font-face {
  font-family:Roboto;
  font-style:italic;
  font-weight:500;
  font-display: swap;
  src:url(../font/roboto-latin-500-italic.woff2) format("woff2"),
  url(../font/roboto-latin-500-italic.woff) format("woff");
  unicode-range:U+00??,
  U+0131,
  U+0152-0153,
  U+02bb-02bc,
  U+02c6,
  U+02da,
  U+02dc,
  U+2000-206f,
  U+2074,
  U+20ac,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+feff,
  U+fffd
 }
 @font-face {
  font-family:Roboto Mono;
  font-style:normal;
  font-weight:400;
  font-display: swap;
  src:url(../font/roboto-mono-latin-400-normal.woff2) format("woff2"),
  url(../font/roboto-mono-latin-400-normal.woff) format("woff");
  unicode-range:U+00??,
  U+0131,
  U+0152-0153,
  U+02bb-02bc,
  U+02c6,
  U+02da,
  U+02dc,
  U+2000-206f,
  U+2074,
  U+20ac,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+feff,
  U+fffd
 }
 @font-face {
  font-family:Roboto Mono;
  font-style:normal;
  font-weight:500;
  font-display: swap;
  src:url(../font/roboto-mono-latin-500-normal.woff2) format("woff2"),
  url(../font/roboto-mono-latin-500-normal.woff) format("woff");
  unicode-range:U+00??,
  U+0131,
  U+0152-0153,
  U+02bb-02bc,
  U+02c6,
  U+02da,
  U+02dc,
  U+2000-206f,
  U+2074,
  U+20ac,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+feff,
  U+fffd
 }

 /* begin index page hero section */
.hero {
  max-width: var(--doc-max-width--landing);
  margin: 2rem auto;
  padding: 0 20px 0 20px;
  min-height: calc(100vh - 183px);
}

.hero-header {
  min-height: 120px;
  background-size: contain;
  background-origin:content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/logo-title.svg");
}

.hero-tagline {
  text-align: center;
  padding-top: 1em;
  font-size: 110%;
  font-style: italic;
  color: var(--ec-navbar-purple);
}

.hero-intro {
  display: grid;
  text-align: center;
  max-width: 35em;
  margin: auto;
  padding: 1em 1em 2.5em;
}

.hero-highlights {
  display: grid;
  grid-template-columns: auto auto;
  grid-row: auto auto;
  align-content: start;
  column-gap: 1cqb;
  row-gap: calc(1cqb);
}

.hero-feature {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-row: auto auto;
  align-content: start;

}

.hero-feature-icon {
  text-align: center;
  padding-top: 1em;
}

.hero-feature-icon svg {
  height: auto;
  width: 40px;
}

.hero-feature-icon path {
  stroke: #d1d3d4
}

.hero-feature-details p {
  color: #333;
  line-height: var(--doc-line-height);
}

a.all-downloads{
  position:relative!important;
  padding:0;
  margin: 0;
}

.hero-links{
  display: grid;
  grid-template-columns: auto;
  grid-template-columns: auto;
  justify-content: center;
  text-align: center;
}

.hero-links h3.button {
  padding-top: 10px;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 2em;
}

.hero-links h3.button#download{
  margin-bottom: 5px;
}

.hero h2 {
  font-size: 1em;
  color: var(--ec-icon-purple);
}

@media screen and (max-width: 1022px) {
  .hero {
    min-height: calc(100vh - 60px);
    margin-top: 0;
  }

  .hero-header {
    padding-left: 0;
  }

  .hero-intro {
    padding-left: 0;
    max-width: 80%;
  }

  .hero-highlights {
    grid-template-columns: auto;
    grid-row: auto;
    row-gap: 10px;
  }

  .hero-feature-icon {
    text-align: center;
    padding-top: .75em;
  }

  .hero-feature-details {
    padding-top: 0px;
  }

  .hero-feature-icon svg {
    height: auto;
    width: 40px;
  }

  .hero h2 {
    font-size: 1.2em;
  }

}
/* end index page hero section */

/* begin front page divider */
.divider {
  min-height: 80px;
}

.flowing {
  display: block;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
  z-index: 5;
  position: absolute;
  left: 0px;
  float: left;
}

g.parallax1 {
  fill: var(--ec-navbar-purple);
}

g.parallax2 {
  fill: var(--ec-icon-purple);
}

g.parallax3 {
  fill: var(--footer-background);
}

g.parallax4 {
  fill: #d1d3d4;
}

.parallax1>use {
  animation: move-forever1 10s linear infinite;

  &:nth-child(1) {
    animation-delay: -2s;
  }
}

.parallax2>use {
  animation: move-forever2 8s linear infinite;

  &:nth-child(1) {
    animation-delay: -2s;
  }
}

.parallax3>use {
  animation: move-forever3 6s linear infinite;

  &:nth-child(1) {
    animation-delay: -2s;
  }
}

.parallax4>use {
  animation: move-forever4 4s linear infinite;

  &:nth-child(1) {
    animation-delay: -2s;
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}
/* end front page divider */

/* front page blog content */
.blog-excerpts{
  padding: 80px 20px 80px 20px;
  margin: auto;
  max-width: var(--doc-max-width--landing);
}

.blog-excerpts>h2 {
  color: var(--ec-icon-purple);
  font-size: 1.9em;
  text-align: center;
  padding: 0;
  margin: 0;
  margin: 1em 0 0 0;
}
.blog-excerpts>article.doc {
  min-width: 100%;
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0;
}

.blog-excerpts>article.doc>article {
  width: 450px;
  padding: 0 1rem 0 4.5rem;
  margin: 2rem 0 0 0; /* override margin set in `.wide article.doc article` */
}

@media screen and (max-width: 1023px) {
  .blog-excerpts>article.doc>article {
    width: 100%;
  }
}

.blog-excerpts>article.doc>article h2 {
  border-bottom: 0 none !important;
  margin: 0;
  padding: 0;
}

.blog-excerpts>article.doc>article h2 > a {
  color: var(--ec-icon-purple);
}

ul.pagination
{
  padding: 0px;
}
/* end front page blog content */


/* contribute page content */
.contribute {
  padding: 0 20px 80px 20px;
  text-align: center;
  margin: auto;
  max-width: var(--doc-max-width--landing);
}

.contribute h2 {
  font-size: 1.9em;
  color: var(--ec-icon-purple);
  margin-bottom: 0;
}

.contribute img.icon {
  width: 300px;
  margin: 0;
}

.contribute>p.ics-download {
  text-align: right;
  font-size: .5em;
}

#contrib-rocks {
  padding:  0 ;
}

.contact.body {
  max-width: 1024px;
}

.github {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.github-repos, .slack {
  display: grid;
  gap: 10px;
}

.github-repos{
  grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
}

.github-repo, .slack-details {
  background-color: var(--ec-icon-purple);
  color: white;
  text-align: center;
  font-size: .75em;
  overflow: hidden; /* Add this to contain floated elements */
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow */
  margin-bottom:20px
}

.github-repo:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Adds shadow */
}

.github-repo a {
  color:var(--ec-icon-purple);
}

.github-repo .details {
  padding: 0 15px 0 15px;
}

.github-repo .name {
  background-color: var(--ec-icon-purple);
  flex-shrink: 0; /* Prevents shrinking */
}

.github-repo .name a {
  color: #ffffff;
}

.github-repo .details {
  background-color: #ffffff;
  color: #000000;
  flex-grow: 1; /* Allows growing to take up remaining space */
}

.slack {
  text-align: left;
  margin-top: 20px;
  grid-template-columns: 1fr; /* Single column */
}

.slack a {
  color:#634f8b
}

.slack-details:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Adds shadow */
}


.slack-details {
  flex-direction: row;
}

.slack-details .icon, .slack-details .details{
  flex: 1; /* Equal sizing */
  background-color: var(--ec-icon-purple)
}

.slack-details .icon, .slack-details .details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Vertical alignment */
  padding-top: 20px;
  padding-bottom: 20px;
}

.slack-details .icon {
  flex: 0 0 100px;
}

.slack-details .details {
  background-color: #ffffff;
  color: #000000;
  padding: 5px
}
.slack svg {
  width: 80px;
  height: 80px;
  color:#ffffff;
}

@media screen and (max-width: 1023px) {
  .contribute img, .contribute img.icon{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .github-repos {
    grid-template-columns: 1fr; /* Single column layout on mobile */
  }

  .github-bugs::before{
    content: "File a bug ";
  }
  .github-bugs::after{
    content: "\A"; /* Inserts a line break */
    white-space: pre; /* Preserves the line break */
  }

  .github-discuss::before{
    content: "Join the discussion ";
  }
  .github-bugs::after{
    content: "\A"; /* Inserts a line break */
    white-space: pre; /* Preserves the line break */
  }
}

/* end contribute page css */

/* source toolbox */
.doc .listingblock > .content {
  position: relative;
}

.wide .doc .listingblock > .content {
  margin-top: 0;
}

.doc .source-toolbox {
  top: 1rem;
}

.doc .source-toolbox img.copy-icon {
  -webkit-filter: invert(50.2%);
  filter: invert(50.2%);
}

.doc .source-toolbox .copy-toast {
  width: 4rem;
}

/* tabs */
.tabs {
  margin-top: 1rem;
}

.tablist > ul li {
  border-radius: 3px;
  border-color: var(--footer-background);
}

/* Antora nav menu stuff */
.nav-panel-menu .nav-item {
  /* All top level titles */
  &.component-title {
    margin-bottom: 0.4rem;

    >.nav-link {
      font-size: 105%;
    }
  }

  /* Expanded top level titles */
  &.component-title.is-active {
    margin-bottom: 0.8rem;
  }

  /* Higlighted top level titles */
  &.component-title.is-current-path {
    >.nav-link {
      color: var(--ec-icon-purple);
      font-weight: bold;
    }
  }

  /* The current page */
  &.is-current-page {
    >.nav-link {
      color: var(--ec-icon-purple);
    }
  }
}
