
/* ***************************************************
 * Some of this CSS is shared exactly between the hugo and antora builds,
 * via website/assets/css/custom.css and antora/supplemental-ui/css/ec-custom.css
 * Todo: DRY this up so we aren't maintaining it twice */

:root {
    /* Icon purple */
    --ec-icon-purple: #785fa9;

    /* A little darker than icon purple for better contrast */
    --ec-navbar-purple: #634f8b;

    --navbar-font-color: var(--ec-navbar-purple);
    --navbar_hover-background: var(--ec-icon-purple);

    /* Slightly transparent navbar */
    --navbar-background: rgba(255, 255, 255, 90%);
    --navbar-menu-background: rgba(255, 255, 255, 90%);

    /* Lighter footer */
    --footer-background: #f5f5f5;

    /* Override the overrides.. */
    --highlightjs-bg: #011627;
}

@media screen and (min-width: 1024px) {
    /* For hover menus that are not links themselves
     * this looks better than the text cursor */
    .navbar-end span.navbar-link {
      cursor: default;
    }

    .navbar-end > a.navbar-item:hover, .navbar-item.has-dropdown:hover .navbar-link {
        color: white;
    }
}

/* When burger menu is open we don't want the transparency */
@media screen and (max-width: 1023px) {
  .navbar-menu.is-active {
    background-color: white;
  }
}

/* Smaller logo title for phone size screens */
.logo-title {
    height: 7em;
    margin-bottom: 1.2em;
}
@media screen and (max-width: 576px) {
    .logo-title {
        height: 5em;
    }
}

.hljs {
    background-color: var(--highlightjs-bg) !important;
    border-radius: 0.25em !important;
    font-size: 90% !important;
    line-height: 1.8em !important;
    padding: 1em !important;
}

/* ************************************************* */

/* Hugo specific CSS */

.navbar {
  box-shadow: 0px 1px 5px var(--color-smoke-90);
  z-index: 1001;
}

.navbar-brand .navbar-item:first-child :not(:last-child) {
  padding-right: .375rem;
}


#navbar-logo {
  height: 1.75rem;
  margin-right: 0.5rem;
  margin-top: -0.15em;
}

/* Simulate the "is-right" class from the antora default ui
 * on the right-most dropdown menu */
.navbar-item:last-child .navbar-dropdown {
  left: auto;
  right: 0;
}

.body {
    margin-left: auto;
    margin-right: auto;
}

/* expand in the vertical space between header and footer, move footer below the
 * fold
 */
body.article {
    display: grid;
    align-items: stretch;
    height: 100%;
    grid-template-rows: min-content auto 0;
}

/* Antora style left menu that we don't need on the home page
 * Todo: Customize the layout to remove it properly */
.body > .nav-container {
    display: none !important;
}

/* Antora style breadcrumb nav that we don't need on the home page
 * Todo: Customize the layout to remove it properly */
main .toolbar {
    display: none !important;
}

main .content {
    /* With the breadcrumb nav gone some extra spacing is needed */
    margin-top: 2rem;
}

.doc p {
  /* More space between paragraphs in Markdown output */
  padding-top: 1em;
}

.paragraph p {
  /* ...but not inside a div.paragraph... */
  padding-top: 0;
}

.doc pre.highlightjs {
    font-size: 85%;
    padding-top: 0.75em;
}

.doc pre.highlightjs code {
    line-height: 1.8em;
    box-shadow: 1px 1px 4px 0px gray;
}

/* For inline monospace text */
.doc p > code {
  /* Add a contrast bg */
  background-color: var(--color-smoke-70);
  padding-left: 0.25em;
  padding-right: 0.25em;
  font-size: 90%;
}

footer.footer {
  /* Cosmetic tweak so the footer color continues to the bottom for short pages */
  padding-bottom: 15em;
}

.header .circle {
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    border-radius: 50%;
    animation: rotate 180s;
    border-width: 0.1rem;
    border-style: dashed;
}

.header .circle1 {
    width: 50vw;
    height: 50vw;
    right: -25vw;
    top: -25vw;
    border-color: var(--navbar-font-color);
}

.header .circle2 {
    width: 40vw;
    height: 45vw;
    right: -12vw;
    top: -25vw;
    border-color: #d3c7fb;
}

.header .circle3 {
    width: 35vw;
    height: 40vw;
    right: -3vw;
    top: -24vw;
    border-color: #28bddf;
}

@keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}

/* Tweak the circles for smaller screens */

/* Break point when burger menu activates */
@media screen and (max-width: 1023px) {
  .header .circle1 { right: -15vw; }
  .header .circle2 { right: -2vw; }
  .header .circle3 { right: 7vw; }
}
/* Break point for phone-sized screen */
@media screen and (max-width: 576px) {
  .header .circle1 { top: -20vw }
  .header .circle2 { top: -20vw }
  .header .circle3 { top: -19vw; }
}

.button {
    display: inline-block;
    background-color: var(--ec-navbar-purple);
    box-shadow: 1px 1px 4px 0px gray;
    border-radius: 4px;
    border: 0;
    padding: 0.5rem 1rem 0.3rem;
    cursor: pointer;
}

.button a {
    text-decoration: none;
    color: white;
}

.button a:hover {
    color: white;
}

/* hack hack */
#view-the-documentationdocsindexhtml {
    margin-top: 2em;
    margin-bottom: 3em;
}

p.big {
    font-size: 115%;
}
