
/* ***************************************************
 * This CSS is shared exactly between the hugo and antora builds,
 * via website/assets/css/custom.css and antora/supplemental-ui/css/ec-custom.css
 * Todo: DRY this up so we aren't maintaining it twice */

:root {
    /* Blurple */
    --navbar-font-color: #200382;

    /* Instead of the default nearly-black */
    --navbar-background: white;

    /* A lighter blurple */
    --navbar_hover-background: #3d16cb;

    /* Lighter footer */
    --footer-background: #f5f5f5;

    /* Override the overrides.. */
    --highlightjs-bg: #011627;
}

@media screen and (min-width: 1024px) {
    /* For hover menus that are not links themselves
     * this looks better than the text cursor */
    .navbar-end span.navbar-link {
      cursor: default;
    }

    .navbar-end > a.navbar-item:hover, .navbar-item.has-dropdown:hover .navbar-link {
        color: white;
    }
}

.hljs {
    background-color: var(--highlightjs-bg) !important;
    border-radius: 0.25em !important;
    font-size: 90% !important;
    line-height: 1.8em !important;
    padding: 1em !important;
}

/* ************************************************* */

/* Hugo specific CSS */


/* Simulate the "is-right" class from the antora default ui
 * on the right-most dropdown menu */
.navbar-item:last-child .navbar-dropdown {
  left: auto;
  right: 0;
}

/* expand in the vertical space between header and footer, move footer below the
 * fold
 */
 body.article {
    display: grid;
    align-items: stretch;
    height: 100%;
    grid-template-rows: min-content auto 0;
}

/* Antora style left menu that we don't need on the home page
 * Todo: Customize the layout to remove it properly */
.body > .nav-container {
    display: none !important;
}

/* Antora style breadcrumb nav that we don't need on the home page
 * Todo: Customize the layout to remove it properly */
main .toolbar {
    display: none !important;
}

main .content {
    /* With the breadcrumb nav gone some extra spacing is needed */
    margin-top: 2rem;
}

.doc p {
  /* More space between paragraphs in Markdown output */
  padding-top: 1em;
}

.paragraph p {
  /* ...but not inside a div.paragraph... */
  padding-top: 0;
}

.doc pre.highlightjs {
    font-size: 85%;
    padding-top: 0.75em;
}

.doc pre.highlightjs code {
    line-height: 1.8em;
}

/* For inline monospace text */
.doc p > code {
  /* Add a contrast bg */
  background-color: var(--color-smoke-70);
  padding-left: 0.25em;
  padding-right: 0.25em;
  font-size: 90%;
}

footer.footer {
  /* Cosmetic tweak so the footer color continues to the bottom for short pages */
  padding-bottom: 15em;
}
