
/* ***************************************************
 * This CSS is shared exactly between the hugo and antora builds,
 * via website/assets/css/custom.css and antora/supplemental-ui/css/ec-custom.css
 * Todo: DRY this up so we aren't maintaining it twice */

:root {
    /* Blue/purple-ish instead of the default nearly-black */
    --navbar-background: #200382;

    /* A lighter blurple */
    --navbar_hover-background: #3d16cb;
}

@media screen and (min-width: 1024px) {
    /* For hover menus that are not links themselves
     * this looks better than the text cursor */
    .navbar-end span.navbar-link {
      cursor: default;
    }
}

/* ************************************************* */

/* Lifted from website/themes/antora-default-ui-hugo-theme/assets/css/header.css */

.navbar {
    background-color: var(--navbar-background);
}

@media screen and (min-width: 1024px) {
    .navbar-end > a.navbar-item:hover,
    .navbar-end .navbar-link:hover {
      background: var(--navbar_hover-background) !important;
    }

    .navbar-item.has-dropdown:hover .navbar-link {
      background: var(--navbar_hover-background) !important;
    }
}

/* For EC policy rule docs */

.rule-type-indicator {
    border-radius: 0.25rem;
    color: white;
    background-color: #555;
    padding: 0 0.25em;
}

.rule-type-indicator.warning {
    background-color: var(--caution-color);
}

.rule-type-indicator.failure {
    background-color: var(--important-color);
}
