
/* ***************************************************
 * Some of this CSS is shared exactly between the hugo and antora builds,
 * via website/assets/css/custom.css and antora/supplemental-ui/css/ec-custom.css
 * Todo: DRY this up so we aren't maintaining it twice */

:root {
    /* Icon purple */
    --ec-icon-purple: #785fa9;

    /* A little darker than icon purple for better contrast */
    --ec-navbar-purple: #634f8b;

    --navbar-background: var(--ec-navbar-purple);
    --navbar_hover-background: var(--ec-icon-purple);

    /* Lighter footer */
    --footer-background: #f5f5f5;

    /* Override the overrides.. */
    --highlightjs-bg: #011627;
}

@media screen and (min-width: 1024px) {
    /* For hover menus that are not links themselves
     * this looks better than the text cursor */
    .navbar-end span.navbar-link {
      cursor: default;
    }
}

.hljs {
    background-color: var(--highlightjs-bg) !important;
    border-radius: 0.25em !important;
    font-size: 90% !important;
    line-height: 1.8em !important;
    padding: 1em !important;
}

.doc pre.highlightjs code {
    line-height: 1.8em;
    box-shadow: 1px 1px 4px 0px gray;
}

/* ************************************************* */

/* Lifted from website/themes/antora-default-ui-hugo-theme/assets/css/header.css */

.navbar {
    background-color: var(--navbar-background);
}

@media screen and (min-width: 1024px) {
    .navbar-end > a.navbar-item:hover,
    .navbar-end .navbar-link:hover {
      background: var(--navbar_hover-background) !important;
    }

    .navbar-item.has-dropdown:hover .navbar-link {
      background: var(--navbar_hover-background) !important;
    }
}

/* Search box tweaks */

#search-input {
    border-radius: 0.2em;
}

@media screen and (min-width: 1024px) {
    #search-input {
        font-size: 85%;
        width: 11em;
        margin-right: 0.3rem;
    }

    /* Widen the field when user is searching */
    #search-input:focus {
        width: 16em;
        background-color: white;
        transition: width 0.15s;
    }
}

/* For EC policy rule docs */

.rule-type-indicator {
    border-radius: 0.25rem;
    color: white;
    background-color: #555;
    padding: 0 0.25em;
}

.rule-type-indicator.warning {
    background-color: #a0439c; /* var(--caution-color); */
}

.rule-type-indicator.failure {
    background-color: #d32f2f; /* var(--important-color); */
}

footer.footer {
    background-color: var(--footer-background) !important;
}

.imageblock {
    cursor: zoom-in;
}

.zoom .imageblock {
    display: none;
    position: fixed;
    margin-top: 0;
    z-index: 1000;
    background: rgba(0,0,0,0.5);
    outline: none;
}

.zoom.shown .imageblock {
    cursor: zoom-out;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}

.zoom.shown .imageblock .title {
    color: white;
}

/* It's a sidebar but it appears inline. */
.doc .sidebarblock {
  /* A little lighter. Default is e9e9e9. */
  /* Same as var(--color-smoke-70) */
  background-color: #f0f0f0;
  /* A smidge more vertical padding */
  padding: 1.2rem 1.5rem;
  /* A smidge less round */
  border-radius: 0.5rem;
}
.doc .sidebarblock>.content>.title {
  /* The default is center here. I think left looks better. */
  text-align: left;
}
