<!--
  For better or worse I copied this formatting from Antora.
  https://docs.antora.org/antora/latest/asciidoc/admonitions/

  Todo maybe: Convert the admonition formatting to a generic reuable
  shortcode and use .Inner for the content.

-->
<div class="admonitionblock note">
  <table>
    <tbody>
      <tr>
        <td class="icon">
          <i class="fa icon-note" title="note"></i>
        </td>
        <td class="content">
          This blog post refers to Conforma by its original name, "Enterprise Contract".
          But don't worry! The only thing we've changed is the name. The examples in this
          article should continue to work exactly as described.
        </td>
      </tr>
    </tbody>
  </table>
</div>
