<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <img src="../../_/img/logo-white.png"
          style="height: 1.4em; width: 1.33em; margin-right: 0.5em; margin-top: -0.15em; padding: 0;">
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">Enterprise Contract Documentation</a>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{#if env.SITE_SEARCH_PROVIDER}}
        <div class="navbar-item search hide-for-print">
          <div id="search-field" class="field">
            <input id="search-input" type="text" placeholder="Search documentation"{{#if page.home}} autofocus{{/if}}>
          </div>
        </div>
        {{/if}}
        {{> hugo_nav}}
      </div>
    </div>
  </nav>
</header>
